<div class="container-fluid mt-3 ">
    <div class="d-flex justify-content-center align-items-center">
        <form class="row g-3">
            <div class="card p-3 w-100">
                <div class="card-header text-center">
                    <h3>
                        Dlocal enterprice
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card m-3 text-center">
                            <div class="card-body">
                                <div class="m-3">
                                    <a class="btn btn-primary w-100" [routerLink]="['/generate-order']"
                                        [queryParams]="{ type:'cardInfo' }" queryParamsHandling="merge">
                                        Card Info
                                    </a>
                                </div>
                                <div class="m-3">
                                    <a class="btn btn-primary w-100" [routerLink]="['/generate-order']"
                                        [queryParams]="{ type:'redirectLandig' }" queryParamsHandling="merge">
                                        Redirect Dlocal landings
                                    </a>
                                </div>
                                <div class="m-3">
                                    <a class="btn btn-primary w-100" [routerLink]="['/generate-order']"
                                        [queryParams]="{ type:'tiket' }" queryParamsHandling="merge">
                                        Tiket
                                    </a>
                                </div>
                                <div class="m-3">
                                    <a class="btn btn-primary w-100" [routerLink]="['/generate-order']"
                                        [queryParams]="{ type:'bancTransfer' }" queryParamsHandling="merge">
                                        Banc transference
                                    </a>
                                </div>
                                <div class="m-3">
                                    <a class="btn btn-primary w-100" [routerLink]="['/generate-order']"
                                        [queryParams]="{ type:'smallField' }" queryParamsHandling="merge">Small
                                        Fields
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
