<div class="container-fluid mt-3 ">
    <div class="d-flex justify-content-center align-items-center">
        <form class="row g-3">
            <div class="card p-3 w-100">
                <div class="card-header text-center">
                    <h3>
                        Dlocal enterprice
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card m-3 text-center">
                            <div class="card-body">
                                <div class="m-3">
                                    <button type="button" class="btn btn-primary w-100"
                                        routerLink="/generate-order">Card Info</button>
                                </div>
                                <div class="m-3">
                                    <button type="button" class="btn btn-primary w-100">Redirect Dlocal
                                        landings</button>
                                </div>
                                <div class="m-3">
                                    <button type="button" class="btn btn-primary w-100">Tiket</button>
                                </div>
                                <div class="m-3">
                                    <button type="button" class="btn btn-primary w-100">Banc transference</button>
                                </div>
                                <div class="m-3">
                                    <button type="button" class="btn btn-primary w-100">Small Fields</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>